employee_details.dtd

<!ELEMENT employees (employee+)>
<!ELEMENT employee (employee_id, first_name, last_name, email, department, salary)>
<!ELEMENT employee_id (#PCDATA)>
<!ELEMENT first_name (#PCDATA)>
<!ELEMENT last_name (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT department (#PCDATA)>
<!ELEMENT salary (#PCDATA)>
